{% extends 'P_app/templates/index.html' %}
{% block 'content'%}

<!-- greetings_app/templates/greeting.html -->

<h1 style="text-align: center">The FineHealth project began with the primary goal of
delivering an efficient and trustworthy patient management solution for hospital residents and former military
medical personnel. The system is intended to help healthcare
workers prepare for and arrange for essential medical methods
and medical resources in order to offer proper patient care for
scheduled patients whose information is meticulously maintained in the FineHealth application.</h1>



{% endblock %}
